/* BOOSTRAP AND PURE CSS ADJUSTMENTS, as well as font adjustments */

/* Import for Heebo font */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');

/* Adjusts root elements of bootstrap for customization */
:root {
    --blue: #1E4C78;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    /* MAIN COLORS CHANGED HERE */
    --JD-primary-color: #1E4C78;
    --JD-secondary-color: #5E96B9;
    --success: #1bb3da;
    --info: #EAEEF0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Changes font family of headers, paragraphs and footers */
h1, h2, h3, h4, h5, h6, p, footer {
  font-family: 'Heebo', sans-serif;
}

/* Changes the background color for primary elements */
.bg-primary {
    background: var(--JD-primary-color);
    border: var(--JD-primary-color);
}

/* Changes the color of primary buttons */
.btn-primary {
    background: var(--JD-primary-color);
    border: var(--JD-primary-color);
}

/* Changes the background color for secondary elements */
.bg-secondary {
    background: var(--JD-secondary-color);
    border: var(--JD-secondary-color);
}

/* Changes the color of secondary buttons */
.btn-secondary {
    background: var(--JD-secondary-color);
    border: var(--JD-secondary-color);
}

/* Changes the color of info buttons */
.btn-info {
    background: var(--light);
    border: var(--light)
}

/* Adds a margin to navigation */
.nav {
    margin: auto;
}

/* Styles all navigation links */
.navbar-brand {
    color: white;
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
}

/* Styles anchors and paragraphs */
a, p {
  color: white;
  font-family: 'Heebo', sans-serif;
}

/* Adjusts spacing and size of anything with padding 1 */
.p-1 {
    width: 20%;
    height: 20%;
    margin: auto;
}

/* Adjusts spacing and size of anything with padding 2 */
.p-2 {
    margin: auto;
    width: 100%;
}

/* Adjusts spacing and size of anything with padding 3 */
.p-3 {
    margin: auto;
    width: 80%;
}

/* Adjusts spacing/position of containers */
.container {
    margin: auto;
    text-align: center;
}

/* Adjusts spacing/position of columns for desktop version */
.col-lg-8 {
    margin: auto;
}